numpy>=1.18.5
python-multipart
albumentations>=1.0.3
coremltools>=4.1
fastapi==0.75.2
Flask==2.1.2
ipython==8.3.0
matplotlib>=3.2.2
#scikit-learn==0.19.2
onnx>=1.9.0
onnx-simplifier>=0.3.6
opencv-python>=4.1.1
openvino-dev
pafy==0.5.5
pandas>=1.1.4
Pillow>=7.1.2
protobuf==3.20.1
psutil==5.9.0
pycocotools>=2.0
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
seaborn>=0.11.0
setuptools==61.2.0
#nvidia-pyindex==1.0.9
tensorflow>=2.4.1
tensorflowjs>=3.9.0
tensorrt==0.0.1
tflite_runtime==2.8.0
thop
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
tensorboard>=2.4.1
roboflow
